#!/usr/bin/zsh

# Easier navigation: .., ..., ...., ~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

# ls color
# Very long line
export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
# GNU `ls`
colorflag="--color"


# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Archives
function extract {
    if [ -z "$1" ]; then
        echo "Usage: extract <path_to_file>.<zip|rar|bz2|gz|tar|tbz2|tgz|7z|tar.bz2|tar.gz|tar.xz>"
    else
        if [ -f $1 ]; then
            case $1 in
                *.tar.bz2)  tar xvjf $1     ;;
                *.tar.gz)   tar xvzf $1     ;;
                *.tar.xz)   tar xvJf $1     ;;
                *.rar)      unrar x -ad $1  ;;
                *.bz2)      bunzip2 $1      ;;
                *.tar)      tar xvf $1      ;;
                *.gz)       tar xvjf $1     ;;
                *.zip)      unzip $1        ;;
                *.tbz2)     tar xvjf $1     ;;
                *.7z)       7z x $1         ;;
                *)          echo "extract: '$1' - unknow/unsupported archive method"
            esac
        else
            echo "$1 - file does not exist"
        fi
    fi
}

function extract_and_remove {
    extract $1
    rm -f $1
}

alias extr="extract "
alias extrr="extract_and_remove "

# Wget
alias wgetncc='wget --no-check-certificate'
alias wgetc='wget `getcb`'

function wget_archive_and_extract {
    URL=$1
    FILENAME=${URL##*/}
    wget $URL -O $FILENAME
    extract $FILENAME
    rm -i $FILENAME
}

alias wgetae="wget_archive_and_extract"

# Linux Ubuntu apt
alias aptuu="sudo apt update ; sudo apt upgrade -y"
alias aptu="sudo apt update"
alias aptar="sudo apt autoremove -y"
alias aptac="sudo apt autoclean -y"
function wttr {
    local location=$1
    curl wttr.in/~$location
}

function rmpyc {
    find $1 -name \*.pyc -delete
}

alias vim="nvim"
