[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/git-open"]
	path = .oh-my-zsh/custom/plugins/git-open
	url = https://github.com/paulirish/git-open
[submodule ".oh-my-zsh/custom/themes/powerlevel9k"]
	path = .oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".oh-my-zsh/custom/themes/spaceship-prompt"]
	path = .oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
	path = .oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
