[user]
	email = kiennt65@viettel.com.vn
	name = Kien Nguyen
[gitreview]
	username = kiennt
[credential]
	helper = gnome-keyring
[core]
	editor = nvim
# NOTE (Viettel local proxy)
# [http]
# 	proxy = http://10.61.2.237:3128
# [https]
# 	proxy = https://10.61.2.237:3128
# [remote "gerrit"]
# 	fetch = +refs/heads/*:refs/remotes/gerrit/*
