# NOTE: Fujitsu config
#[http]
#	proxy = http://10.164.177.170:8080
#[https]
#	proxy = https://10.164.177.170:8080

[gitreview]
	username = kiennt
[user]
	name = Kien Nguyen
	email = kiennt@vn.fujitsu.com
[url "https://"]
	insteadOf = git://
[remote "gerrit"]
	fetch = +refs/heads/*:refs/remotes/gerrit/*
