!! Colorscheme

!! URxvt Appearance
URxvt.font: xft:Operator Mono:style=Book,Regular:size=8
URxvt.boldFont: xft:Operator Mono:style=Book,Bold:size=8
URxvt.italicFont: xft:Operator Mono:style=Book,Italic:size=8
URxvt.boldItalicfont: xft:Operator Mono:style=Bold Italic:size=8
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 65x25
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: true

!! Extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,selection-autotransform,confirm-paste,font-size
! Clickable URLs
URxvt.url-launcher: google-chrome
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2: vim +$2 $1
! Tabbed
! [New] button - Click a button - activate that tab
! Shift-Left & Shift-Right - switch to the tab left or right of the current one
! Shift-Down - create a new tab
! Ctrl+d - close tab
! Ctrl-Left & Ctrl-Right - renumber the current tab by moving it to the left or to the right
! Font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
